
/* <!-- Organises the container for the carbon calculator page --!> */
.container{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    background-color: white;
    border-color: black;
    border-style:ridge;
}


